*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}
.page
{
    padding: 70px 0;
    background: #fff;
    font-family: 'Poppins';
}
.page img
{
    width: 30%;
}

.error-img
{
    background: url('./bg.gif');
    height: 500px;
    background-position: center;
    background-size: cover;
}
.title
{
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: 500;
}
a
{
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background: linear-gradient(93.46deg,#ff6b00 23.4%,#ffa800);
    display: inline-block;
    border-radius: 25px;
}
.content-box{
    margin-top: -30px;
}
a:hover
{
    text-decoration: none;
    color: #fff;
}
@media screen and (max-width:425px) {
    .page img
    {
        width: 60%;
    }
    .error-img{
        height: 400px;
    }
}